* {box-sizing: border-box;}

body { 
  margin: 0;
}

.header {
  overflow: hidden;
  background-color: #1c1c7f;
  padding: 20px 10px;
  font-family: 'Teko', sans-serif;
  width:100%;

}

.header a {
  float: left;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: 'Teko', sans-serif;
}

.header a.logo { /* her forandrer man farge, tekst størrelse og andre tekst relaterte ting til "overskriften" på "header". */
  font-size: xx-large;
  color:#fff
}

.header a:hover {
  background-color: #434397;
  color: rgb(255, 255, 255);
}

.header a.active {
    background-color: rgb(255, 255, 255); /* forandrer fargen på bakgrunnen til teksten som beskriver nettsidens innhold*/
    color: rgb(0, 0, 0);
  }

.header-right {
  float: right;
}


.straight-line {
    border: none; /*Fjerner "default border" */
    border-top: 1px solid #000; 
    margin: 10px 0; /* Mellomrom mellom toppen og bunnen av linja */
    width: 100%; /* få den til å strekke seg over hele nettsida */
    height: 2px;

  }



  h1 {
    margin: 0; 
}

h1 a {
    text-decoration: none; /* fjerner linjene under linkene*/
    color: #fff; /* link farge */
}   

nav ul {
    list-style-type: none; /* fjerner "default list-styling" */
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline; /* list items blir plassert horisontalt */
    margin-right: 10px; /* mellomrom mellom list items */
}
nav a {
    text-decoration: none; 
    color: #fff; 
    
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    position:sticky;
  }
  
  /* "Navigation" linkene */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: large;
    width: 33.33%; /* For 4 linker, bruker du 25%,for 2, 50%, for 3, 33.33%... osv... */
    text-align: center; 
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  

.beholder {
    position:-ms-page;
}
.mascotbilde {
    height: 250px;
    width: 100%;
}
.titles-faculty {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    margin-bottom: 10px;
    text-align:left;
    margin-left: 20px;
} 

#co { /* # for id, istedetfor class . */
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100% !important;
    padding-bottom:20px;
  }
  
  #co td, #co th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #co tr:nth-child(even){background-color: #f2f2f2;}
  
  #co tr:hover {background-color: #ddd;}
  
  #co th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1c1c7f;
    color: white;
  }


.footer {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-color:#1c1c7f;
    color: #fff;
    padding: 10px;
}

.sources {
    font-size: xx-large;
    font-family: 'Teko', sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
    text-align:left;
    color: #fff;
    display:flex-start;
}

.links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin: 5px 0;
}

.links li a {
    color: #ffffff; /* Link farge */
    text-decoration: none;
    font-weight: bold;
    margin-left: 20px;
}

.links li a:hover {
    text-decoration: underline; /* legger til linje under linken når musa er over linken */
    color: #ff6600; /* Forandrer link farge når musa er over linken */
}

/* knapp for kode */
.button {
    background-color: #ffffff; /* knapp bakgrunnsfarge */
    color: #1c1c7f; /* tekst farge */
    padding: 20px 30px; /* størrelse */
    border: none;
    cursor: pointer;
    margin-right:50px;
    margin-left:150px;
    border-radius: 12px;
    font-size:large;
    font-family: 'Teko', sans-serif;
}

/* mellomrom mellom knappen og linkene */
.footer-content {
    display: flex;
    align-items: center;
}

.white-line{
    border: none; 
    border-top: 1px solid #ffffff; 
    margin: 0 10px; 
    width: 100%;
    height: 4px;
  }

  hr.thick-line {
    border: none;
    background-color:#1c1c7f;
    height: 30px;
    margin: 20px 0;
  }

.dance-paragraph {
  font-size: large;
  margin-left:20px;
  margin: right 20px;
  line-height:1.5;
 }

.dance-list {
  font-size: large;
  margin-left:20px;
  margin: right 20px;
  line-height:1.5;
  margin-bottom:5px;
}

.row {
  display: flex;
}

/*3 bilder som er like store ved siden av hverandre*/
.column {
  flex: 33.33%;
  padding: 10px;
  text-align: center;
}

.row img {
  width: 100%;
  height: auto;
  display: block;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
}

.img2
{
  width: 50%;
  height: auto;
  display: block;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:10px;
}

.caption {
  margin-top: 5px; /* Adjust the margin between the image and text */
}

.list-start {
  text-decoration: underline #1c1c7f 3px;
}